@import "tailwindcss";

@theme {
  --color-brand-700: #374553;
  --color-brand-600: #646f7c;
  --color-cta: #1b2334;

  --text-title: 48px;
  --text-title--line-height: 1.33;
  --text-subtitle: 32px;
  --text-subtitle--line-height: 1.33;
  --text-button: 22px;
  --text-button--line-height: 1.33;
  --color-gray-800: #28323C;
  --color-gray-700: #374553;

  --text-page-title: 40px;
  --text-page-title--line-height: 1.33;
  --text-page-title--font-weight: 700;

  --text-page-subtitle: 16px;
  --text-page-subtitle--line-height: 1.33;
  --text-page-subtitle--font-weight: 400;

  --radius-card: 12px;

  --spacing-page-x: 200px;
  --spacing-page-bottom: 50px;
  --spacing-page-gap: 24px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family:
    "Pretendard",
    system-ui,
    -apple-system,
    sans-serif;
  color: var(--color-brand-700);
  background-color: #ffffff;
}
